.root {
  @apply w-full
}

.formContainer{
  @apply flex m-5;
}

.formText{
  @apply w-full rounded-md shadow-sm
}

.textArea{
  @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md h-80
}

.input{
  @apply mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-1/2 shadow-sm sm:text-sm border-gray-300 rounded-md p-2 my-2
}
.label{
  @apply block text-sm font-medium text-gray-700
}

.title{
  @apply text-5xl border-b-4 p-5 font-bold
}
.btn{
  @apply ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 m-5
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.inputContainer{
  @apply mt-1  rounded-md shadow-sm my-2;
}

.input{
  @apply focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-600 my-2;
}