@tailwind base;
@tailwind components;
@tailwind utilities;





.bg-yellow-600 {
  background-color: #d97705;
}
.bg-blue-600 {
  background: #3929eb;
}
.bg-green-600 {
  background-color: #049669;
}
.bg-purple-600 {
  background-color: #7730db;
}
.bg-red-600 {
  background-color: #a70b34;
}

.bg-lightsteelblue-600 {
  background-color: #b0c4de;
}

.bg-dimgray-600 {
  background-color: #696969;
}

.bg-header-600{
  background-color: #1f3134;
}