.root{
  @apply flex justify-between
}
.container{
  @apply w-full px-10 py-6 bg-white rounded-lg shadow-md mt-6
}

.categoryConteiner{
  @apply flex justify-between items-center mt-4
}

.categoryTitle{
  @apply text-5xl mb-7
}

.content{
  @apply flex justify-between items-center bg-gray-100 p-2 my-8
}


.contentMark{
  & pre {
    background-color: #d3d3d3;
    padding: 20px;
    margin: 20px 0;
    line-height: 2.3;
  }

  & p {
    margin: 15px 0;
    line-height: 1.8;
  }

  & ul, & ol {
    font-size: 110%;
    line-height: 2.3;
    font-weight: bold;
    margin: 10px 0;
  }



  & h1 {
    font-size: 35px;
  }

  & h2,& h3, & h4, & h5, & h6 {
    font-size: 27px;
  }


}

.bar{
  @apply flex justify-between items-center
}
